body {
    /* width: 1902px; */
    width: 100vw;
    padding: 30px;
    background-color: #4d4a40;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-y: auto;
}
h1, h2 {
    padding: 0;
    margin: 0;
}
.container {
    /* width: 1713px; */
    width: 90%;
    border: #ccc 1px solid;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    line-height: 2;
    padding: 30px 86px 30px;
}
.container .header {
    background-color: #267890;
    margin: 0 -120px;
    box-sizing: border-box;
    border: solid 5px #14414e;
}
.container .header .title {
    font-size: 42px;
    color: #fff;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}
.container .header .link-container {
    margin: auto auto 30px;
    color: #dbdbdb;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}
.container .header .link-container .link:hover {
    color: #fff;
}
.container .header .link-container .link {
    color: #dbdbdb;
}
.container .body {
    /* width: 1541px; */
    width: 88%;
    margin: 0 auto;
    color: #000;
    padding-top: 30px;
}
.container .body .section-title {
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}